<section id="name-page">
    <p> VIDEOJUEGOS </p>
</section>
<main>
    <section id="filters">
        <div class="filter">
            <h3>
                PRECIO
            </h3>
            <div class="filter-options">
                <div class="filter-option">
                    <input type="radio" name="price" value="0-50"> $0 - $50
                </div>
                <div class="filter-option">
                    <input type="radio" name="price" value="51-100"> $51 - $100
                </div>
                <div class="filter-option">
                    <input type="radio" name="price" value="101-150"> $101 - $150
                </div>
            </div>
        </div>
        <div class="filter">
            <h3>
                GÉNERO
            </h3>
            <div class="filter-options">
                <div class="filter-option">
                    <input type="radio" name="genre" value="aventura"> Aventura
                </div>
                <div class="filter-option">
                    <input type="radio" name="genre" value="accion"> Acción
                </div>
                <div class="filter-option">
                    <input type="radio" name="genre" value="deporte"> Deporte
                </div>
                <div class="filter-option">
                    <input type="radio" name="genre" value="simulacion"> Simulación
                </div>
                <div class="filter-option">
                    <input type="radio" name="genre" value="lucha"> Lucha
                </div>
                <div class="filter-option">
                    <input type="radio" name="genre" value="estrategia"> Estrategia
                </div>                
            </div>
        </div>
    </section>

    <section id="products">
        
    </section>
</main>