<section id="name-page">
  <p>CAJA</p>
</section>
<main class="main_container">
    <section class="data">
        <router-outlet></router-outlet>
        
    </section>
    <section class="product_list">
      <div class="products">
        <div class="article_info">
          <img src="https://i.imgur.com/H5FTg3T.jpg" alt="img" />
          <div class="article_details">
            <span class="article_name">The Witcher 3: Wild Hunt</span>
            <span class="article_type">Consola: Xbox One</span>
          </div>
        </div>
      </div>
      <div class="space_bar"></div>
      <div class="pay_data">
        <span>subtotal</span>
        <span class="valorDolares">$23</span>
        <span>Descuento</span>
        <span class="valorDolares">$0</span>
        <span ><b>Total</b></span>
        <span class="valorDolares">$454</span>


      </div>
    </section>
</main>
