<header>
    <a id="logo-container" href="#">
        <img src="../../../assets/img/logo.png" alt="Logo de la tienda" width="100">
        <div id="text-logo"><p>Mundo magico del <span>Nintendo</span></p></div>
    </a>
    <div id="searcher">
        <input type="text" placeholder="Busca tu producto">
        <button type="button"><img src="../../../assets/img/search-icon.svg" alt="Buscar" width="100"></button>
    </div>
    <img src="../../../assets/img/shopping-cart-icon.svg" alt="Carrito de compras" width="30">
</header>

<nav>
    <a href="#">Videojuegos</a>
    <a href="#">Funkos</a>
    <a href="#">Anime</a>
    <a href="#">Consolas</a>
    <a href="#">Coleccionables</a>
</nav>