<section id="name-page">
  <p>CARRITO DE COMPRAS</p>
</section>
<main class="main_container">
  <table id="articles">
    <thead>
      <tr>
        <th>Articulo</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
        <th>IVA</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody id="tableBody">
      <tr>
        <td>
          <div class="article_info">
            <img src="https://i.imgur.com/H5FTg3T.jpg" alt="img" />
            <div class="article_details">
              <span class="article_name">The Witcher 3: Wild Hunt</span>
              <span class="article_type">Consola: Xbox One</span>
            </div>
          </div>
        </td>
        <td><input class="quantity" type="number" value="1" /></td>
        <td>$<span>12</span></td>
        <td>$<span>21</span></td>
        <td><b>$</b><span class="total">65</span></td>
      </tr>
    </tbody>
  </table>

  <div class="buttons">
    <button id="keepBuying" routerLink="/videojuegos">Seguir Comprando</button>
    <button id="goToCheckout" routerLink="/caja">Ir a La Caja</button>
  </div>
</main>
